<p>
  <strong><%= t("activerecord.attributes.album.title", :default => t("activerecord.labels.title", :default => "Title")) + ":" %></strong>
  <br />
  <%= @album.title %>
</p>
<p>
  <strong><%= t("activerecord.attributes.album.description", :default => t("activerecord.labels.title", :default => "description")) + ":" %></strong>
  <br />
  <%= @album.description %>
</p>

<%= link_to t("activerecord.attributes.album.photos"), album_photos_path(@album) %>

<form id="fileupload" action="<%= album_photos_path(@album) %>" method="POST" enctype="multipart/form-data">
  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
  <div class="row fileupload-buttonbar">
    <div class="span7">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Add files...</span>
        <input type="file" name="photo[file]" multiple>
      </span>
      <button type="submit" class="btn btn-primary start">
        <i class="icon-upload icon-white"></i>
        <span>Start upload</span>
      </button>
      <button type="reset" class="btn btn-warning cancel">
        <i class="icon-ban-circle icon-white"></i>
        <span>Cancel upload</span>
      </button>
      <button type="button" class="btn btn-danger delete">
        <i class="icon-trash icon-white"></i>
        <span>Delete</span>
      </button>
      <input type="checkbox" class="toggle">
    </div>
    <div class="span5">
      <!-- The global progress bar -->
      <div class="progress progress-success progress-striped active fade">
        <div class="bar" style="width:0%;"></div>
      </div>
    </div>
  </div>
  <!-- The loading indicator is shown during image processing -->
  <div class="fileupload-loading"></div>
  <br>
  <!-- The table listing the files available for upload/download -->
  <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
</form>

<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <a class="btn modal-download" target="_blank">
      <i class="icon-download"></i>
      <span>Download</span>
    </a>
    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
      <i class="icon-play icon-white"></i>
      <span>Slideshow</span>
    </a>
    <a class="btn btn-info modal-prev">
      <i class="icon-arrow-left icon-white"></i>
      <span>Previous</span>
    </a>
    <a class="btn btn-primary modal-next">
      <span>Next</span>
      <i class="icon-arrow-right icon-white"></i>
    </a>
  </div>
</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
      <td class="preview"><span class="fade"></span></td>
      <td class="name"><span>{%=file.name%}</span></td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      {% if (file.error) { %}
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
        <td>
          <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
        </td>
        <td class="start">{% if (!o.options.autoUpload) { %}
          <button class="btn btn-primary">
            <i class="icon-upload icon-white"></i>
            <span>{%=locale.fileupload.start%}</span>
          </button>
          {% } %}</td>
        {% } else { %}
        <td colspan="2"></td>
        {% } %}
      <td class="cancel">{% if (!i) { %}
        <button class="btn btn-warning">
          <i class="icon-ban-circle icon-white"></i>
          <span>{%=locale.fileupload.cancel%}</span>
        </button>
        {% } %}</td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}">{%=file.name%}</a>
          {% } %}</td>
        <td class="name">
          <a href="{%=file.url%}" title="{%=file.file_file_name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.file_file_name%}</a>
        </td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td colspan="2"></td>
        {% } %}
      <td class="delete">
        <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="icon-trash icon-white"></i>
          <span>{%=locale.fileupload.destroy%}</span>
        </button>
        <input type="checkbox" name="delete" value="1">
      </td>
    </tr>
    {% } %}
</script>

<% content_for :more_javascript do %>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<%= javascript_include_tag "jquery.ui.widget.js" %>
<!-- The Templates plugin is included to render the upload/download listings -->
<%= javascript_include_tag "tmpl.min.js" %>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<%= javascript_include_tag "load-image.min.js" %>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<%= javascript_include_tag "canvas-to-blob.min.js" %>
<!-- Bootstrap JS and Bootstrap Image Gallery are not required, but included for the demo -->
<%= javascript_include_tag "bootstrap-image-gallery.min.js" %>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<%= javascript_include_tag "jquery.iframe-transport.js" %>
<!-- The basic File Upload plugin -->
<%= javascript_include_tag "jquery.fileupload.js" %>
<!-- The File Upload image processing plugin -->
<%= javascript_include_tag "jquery.fileupload-ip.js" %>
<!-- The File Upload user interface plugin -->
<%= javascript_include_tag "jquery.fileupload-ui.js" %>
<!-- The localization script -->
<%= javascript_include_tag "locale.js" %>
<!-- The main application script -->
<%= javascript_include_tag 'main' %>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]><script src="js/cors/jquery.xdr-transport.js"></script><![endif]-->
<% end %>

<% content_for :more_css do %>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "jquery.fileupload-ui" %>
<% end %>

<div class="form-actions">
  <%= link_to "Back", albums_path, class: 'btn' %>
  <%= link_to "Edit", edit_album_path(@album), class: 'btn' %>
  <%= link_to "Delete", album_path(@album), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger' %>
</div>
